<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.codesm.udynamo"
        version="0.7.0">

  <name>uDynamo</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/udynamo.js" target="js/udynamo.js"/>

  <js-module src="www/udynamo.js" name="udynamo">
    <clobbers target="udynamo" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="uDynamo">
        <param name="android-package" value="com.codesm.plugin.uDynamo"/>
      </feature>
    </config-file>

    <source-file src="src/android/magtek-scra.jar" target-dir="libs"/>
    <source-file src="src/android/uDynamo.java" target-dir="src/com/codesm/udynamo/"/>
  </platform>

</plugin>